ul{
  padding-left: 15px;
}

h1 small.slogan{
  display: block;
  color: #FFF;
  font-style: italic;
  text-transform: lowercase;
}

.section header{
  height: 20px;
  border-top-style: dotted;
  text-align: center;
  top: 0;
  position: absolute;
  width: 95%;
  margin-top: 30px;
  border-color: #FFF;
  margin-left: 36px;
  margin-right: 36px;
}

.section header h1{
  margin-top: -25px;
  background-color: #1BBC9B;
  width: 20%;
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
}

#section0 h1{
  margin-bottom: 80px;
}

#section0 .intro{
  background-image: url('../images/logo.png');
  background-position: center center;
  background-repeat: no-repeat;
}

.card{
  border-radius:5px;
  text-align: left;
  margin-bottom: 15%;
}
.card.bg-success{background-color: #5cb85c;}
.card.bg-info{background-color: #5bc0de;}
.card.bg-warning{background-color: #f0ad4e;}
.card.bg-danger{background-color: #d9534f;}

.circle-stats{
  border-radius: 50%;
  border: 20px solid #337ab7;
  width: 150px;
  height: 150px;
  text-align: center;
  display: table;
}
.circle-stats.success{border-color:#5cb85c;}
.circle-stats.info{border-color:#5bc0de;}
.circle-stats.warning{border-color:#f0ad4e;}
.circle-stats.danger{border-color:#d9534f;}

.circle-stats p{
  display: table-cell;
  vertical-align: middle;
  font-size: 3.5em;
}

.founding{
  background-color:#5bc0de;
  font-size:5em;
  text-align: center;
  padding:25px;
}